[bumpversion]
current_version = 0.4.0
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} -> {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:src/permafrost/__version__.py]
search = VERSION = "{current_version}"
replace = VERSION = "{new_version}"
