{% load i18n %}

<div class="modal-header">
    <h5 class="modal-title font-weight-bold text-gray-900">
        {% trans 'Add Permissions' %}
    </h5>
    <button type="button" class="close text-success" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {% if obj_title %}
    <h2 class="text-primary-grey mb-3">
        {{ obj_title }}
    </h2>
    {% endif %}
    <div class="col-12">
        <div class="search-bar">
            <div class="input-group">
                <input type="text" class="textinput textInput flex-fill" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn bg-transparent close search-close" type="button" role="close" aria-role="close" id="perm-search-close">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                <div class="input-group-append">
                    <button id="search_button" class="btn btn-success" style="z-index: 15;">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <form method="post" action="{% url 'permafrost:custom-role-add-permissions' slug=object.slug %}" id="base-form">
            {% csrf_token %}

                {% for content_type, category in permission_categories.items %}
                <div class="row">
                    <p class="small font-weight-bold col-12 text-gray-600 mt-3 text-capitalize">{{ category.name }}</p>
                    <div class="col-12">
                        {% for permission in category.required %}
                        <div class="d-flex align-items-center">
                            <span>{{ permission.name }}</span>
                            {% if permission.short_description %} {# TODO: extend permission to include short_description for tooltip #}
                            <i class="ml-2 fas fa-info-circle text-gray-600" aria-label="{% trans 'Info' %}"></i>
                            {% endif %}
                            <input
                                class="ml-auto"
                                type="checkbox"
                                name="{{ form.permissions.name }}"
                                value="{{ permission.id }}"
                                {% if permission.selected %} checked{% endif %}
                            >
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-12">
                        {% for permission in category.optional %}
                        <div class="d-flex align-items-center">
                            <span>{{ permission.name }}</span>

                            {% if permission.short_description %}
                            <i class="ml-2 fas fa-info-circle text-gray-600" aria-label="{% trans 'Info' %}"></i>
                            {% endif %}
                            <input
                                class="ml-auto"
                                type="checkbox"
                                name="{{ form.permissions.name }}"
                                value="{{ permission.id }}"
                                {% if permission.selected %} checked{% endif %}
                            >
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% empty %}
                <div class="pb-5 row">{# used for spacing when empty #}</div>
            {% endfor %}
        </form>
    </div>
</div>
<div class="modal-footer">
    <a class="text-success font-weight-bold mr-3" data-dismiss="modal" role="button">{%  trans 'Cancel' %}</a>
    <button type="submit" class="btn btn-success font-weight-bold" form="base-form">{%  trans 'Add' %}</button>
</div>


