{% load i18n %}

{% for content_type, category in permission_categories.items %}
<div class="row">
    <div class="col-12">
        <p class="small font-weight-bold text-gray-600 mt-3 text-capitalize">{{ category.name }}</p>
        {% for permission in category.optional %}
        <div class="d-flex align-items-center">
            <label class="text-gray-900 mb-0" for="modal-permission-{{ permission.id }}">{{ permission.name }}</label>

            <input
                class="ml-auto"
                type="checkbox"
                name="permissions"
                value="{{ permission.id }}"
                id="modal-permission-{{ permission.id }}"
                {% if permission.selected %} checked{% endif %}
            >
        </div>
        {% endfor %}
    </div>
</div>
{% empty %}
<div class="row">
    <div class="col">
        <p class="mt-3">{% trans 'No permissions match this search.' %}</p>
    </div>
</div>
{% endfor %}
